<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<title>lissan</title>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lissan</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>donate</span></div>
        <form action="/donate" method="POST">
          <div class="row">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="donation" name = 'donate'required>
          </div>
          <div class="row">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="discribe" name = 'dis 'required>
          </div>
          
          <div class="row button">
            <input type="submit" value="donate">
          </div>
          <div class="signup-link">get back to home<a href="/index"> here </a></div>
        </form>
      </div>
    </div>
  </body>
</html>
