<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<title>lissan</title>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lissan</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>sign up</span></div>
        <form action="/" method="POST">
          <div class="row">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Email" name = 'email'required>
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name = 'password'required>
          </div>
          <div class="row">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="full name" name = 'full_name'required>
          </div>
          
          <div class="row button">
            <input type="submit" value="signup">
          </div>
          <div class="signup-link">Already have an account?<a href="/signin">Sign in here </a></div>
        </form>
      </div>
    </div>
  </body>
</html>
